<nav class="fill navbar navbar-expand-sm fixed-top">
    <div class="container" style="margin-left: 100px;">
        <a class="navbar-brand" href="/" style="color:white;"><img src="https://images.vexels.com/media/users/3/150846/isolated/preview/a77bce5e752802277f78088150b16923-audio-headphones-icon-music-by-vexels.png" width="40px;" /> Music Box</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/" style="color:white;">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charts" style="color:white;">CHART</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search" style="color:white;">SEARCH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about" style="color:white;">ABOUT</a>
            </li>
        </ul>
    </div>
</nav>