{% extends 'base_layout.html' %} {% block body %}

<head>
    <title>About</title>
</head>

<body>
    <br/><br/><br/><br/>
    <h1 class="glow">About Us</h1>





    <div class="grid-container">

        {% for student in students %}
        <div class="polaroid">
            <img src="{{ student.image }}" alt="Pic of members." style="width:300px">
            <div class="container2">
                <p>{{ student.id }}</p>
                <p>{{ student.name }}</p>
            </div>
        </div>
        {% endfor %}

    </div>



</body>


{% endblock %}