{% extends 'base_layout.html' %} {% block body %}
<br/><br/><br/><br/>
<h class="glow">{{artist.name}}</h>
<div class="container">
    <table style="width: 500px;">
        <tr>
            <td>
                <img src={{artist.picture_medium}}>
            </td>
            <td>
                <p style="font-size: 20px; ">{{artist.nb_fan}} fans</p>
                <p style="font-size: 20px; ">{{artist.nb_album}} albums </p>
            </td>
        </tr>
    </table>


    <br>
    <br> {% if getTop.total != 0 %}

    <h class="glow">TOP TRACKS</h>
    <table class="table-bordered table-hover container-fluid">
        <thead>
            <tr>
                <th></th>
                <th>Track</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Preview</th>
            </tr>
        </thead>
        {% for top in tops %}
        <tbody>
            <tr>
                <td><img class="card-img-top " src={{top.cover}}></td>
                <td>
                    <p><a href={{top.link}}>{{top.title}}</a></p>
                </td>
                <td>
                    <p><a href="/artist/{{top.artistId}}">{{top.artist}}</a></p>
                </td>
                <td>
                    <p><a href="/album/{{top.albumId}}"> {{top.album}}</a></p>
                </td>
                <td>
                    <audio controls autoplay muted>
                    <source src={{top.preview}} type="audio/mpeg ">
                    Your browser does not support the audio element.
                </audio>
                </td>
            </tr>
        </tbody>
        {% endfor %}

    </table>{% endif %}

    </br>
    </br>
    <h class="glow">ALBUMS</h>
    <div class="grid-container">
        {% for album in albums %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top " src={{album.cover}}>
            <p><a href="/album/{{album.alId}}">{{album.title}}</a></p>
            <p>{{album.fans}} fans</p>
            <p>relese date: {{album.release_date}}</p>

        </div>

        {% endfor %}
    </div>

    {% endblock %}